<div class="font-[sans-serif] bg-gray-100">
    <div class="p-4 mx-auto lg:max-w-7xl sm:max-w-full">
      <h2 class="text-4xl font-extrabold text-gray-800 mb-12">Upcoming Competitions</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        <!-- Check if competitions are available -->
        <ng-container *ngIf="competitions.length > 0; else noCompetitions">
          <div
            class="bg-white rounded-2xl p-5 shadow-md hover:-translate-y-2 transition-all relative"
            *ngFor="let competition of competitions"
          >
            <div class="w-full h-[200px] overflow-hidden rounded-lg mb-4">
              <img
                src="/com.png"
                alt="Forest Hunters Competition"
                class="h-full w-full object-cover"
              />
            </div>
            <div class="text-center">
              <h3 class="text-lg font-extrabold text-gray-800">{{ competition.code }}</h3>
              <p class="text-gray-600 text-sm mt-2">
                <span class="font-bold text-gray-800">Date:</span>
                <span class="text-blue-600">
                  {{ competition.date | date: 'd MMMM yyyy \'AT\' HH:mm' }}
                </span>
              </p>
              <p class="text-gray-600 text-sm mt-2">
                <span class="font-bold text-gray-800">Open Registration:</span>
                <span
                  [ngClass]="competition.openRegistration ? 'text-green-600 font-bold' : 'text-red-600 font-bold'"
                >
                  {{ competition.openRegistration ? 'Yes' : 'No' }}
                </span>
              </p>
              <button
                class="mt-4 border-2 border-orange-600 bg-orange-600 text-white text-sm font-semibold py-2 px-4 rounded-lg transition-all"
                [routerLink]="['/competitionsDetails', competition.id]"
              >
                See Details
              </button>
            </div>
          </div>
        </ng-container>
      
        <!-- Display this if there are no competitions -->
        <ng-template #noCompetitions>
          <p class="text-orange-600">No competitions available at the moment.</p>
        </ng-template>
      </div>
      
    </div>
  </div>
  