<div class="font-[sans-serif] mt-24 " style="margin-bottom: 60vh;">
    <div class="max-w-5xl mx-auto">
      <div class="text-center mb-8">
        <h2 class="text-gray-800 text-3xl font-bold">Top Performers</h2>
        <p class="text-sm text-gray-500">Celebrating the best hunters in all competitions</p>
      </div>
  
      <div class="grid lg:grid-cols-3 sm:grid-cols-2 gap-6">
       
  
        <div class="shadow-[0_2px_22px_-4px_rgba(93,96,127,0.2)] rounded-lg overflow-hidden hover:scale-105 transition-transform duration-500">
          <div class="h-32 bg-pink-600 text-center p-4">
            <h3 class="text-2xl text-white mb-1">Jane Smith</h3>
            <p class="text-xs text-white">Total Competitions: 10</p>
          </div>
          <div class="h-24 w-24 mx-auto -mt-12 shadow-xl rounded-full bg-pink-600 text-white border-[3px] flex flex-col items-center justify-center border-white">
            <h3 class="text-2xl">2nd</h3>
            <p class="text-[10px] font-bold">Total Score: 850</p>
          </div>
          <div class="px-6 py-4">
            <ul class="space-y-4">
                <li class="flex items-center text-sm text-gray-500">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" class="mr-3 bg-green-500 fill-white rounded-full p-[3px]" viewBox="0 0 24 24">
                      <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" />
                    </svg>
                    Top Competition: Competition XYZ
                  </li>
                  <li class="flex items-center text-sm text-gray-500">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" class="mr-3 bg-green-500 fill-white rounded-full p-[3px]" viewBox="0 0 24 24">
                      <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" />
                    </svg>
                    Total Species Captured: 45
                  </li>
                  <li class="flex items-center text-sm text-gray-500">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" class="mr-3 bg-green-500 fill-white rounded-full p-[3px]" viewBox="0 0 24 24">
                      <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" />
                    </svg>
                    Best Score: 95
                  </li>
            </ul>
          </div>
        </div>

         <div class="shadow-[0_2px_22px_-4px_rgba(93,96,127,0.2)] rounded-lg overflow-hidden hover:scale-105 transition-transform duration-500">
            <div class="h-32 bg-blue-600 text-center p-4">
              <h3 class="text-2xl text-white mb-1">John Doe</h3>
              <p class="text-xs text-white">Total Competitions: 12</p>
            </div>
            <div class="h-24 w-24 mx-auto -mt-12 shadow-xl rounded-full bg-blue-600 text-white border-[3px] flex flex-col items-center justify-center border-white">
              <h3 class="text-2xl">1st</h3>
              <p class="text-[10px] font-bold">Total Score: 960</p>
            </div>
            <div class="px-6 py-4">
              <ul class="space-y-4">
                <li class="flex items-center text-sm text-gray-500">
                  <svg xmlns="http://www.w3.org/2000/svg" width="17" class="mr-3 bg-green-500 fill-white rounded-full p-[3px]" viewBox="0 0 24 24">
                    <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" />
                  </svg>
                  Top Competition: Competition XYZ
                </li>
                <li class="flex items-center text-sm text-gray-500">
                  <svg xmlns="http://www.w3.org/2000/svg" width="17" class="mr-3 bg-green-500 fill-white rounded-full p-[3px]" viewBox="0 0 24 24">
                    <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" />
                  </svg>
                  Total Species Captured: 45
                </li>
                <li class="flex items-center text-sm text-gray-500">
                  <svg xmlns="http://www.w3.org/2000/svg" width="17" class="mr-3 bg-green-500 fill-white rounded-full p-[3px]" viewBox="0 0 24 24">
                    <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" />
                  </svg>
                  Best Score: 95
                </li>
              </ul>
            </div>
        </div>
  
        <div class="shadow-[0_2px_22px_-4px_rgba(93,96,127,0.2)] rounded-lg overflow-hidden hover:scale-105 transition-transform duration-500">
          <div class="h-32 bg-purple-600 text-center p-4">
            <h3 class="text-2xl text-white mb-1">Alex Johnson</h3>
            <p class="text-xs text-white">Total Competitions: 8</p>
          </div>
          <div class="h-24 w-24 mx-auto -mt-12 shadow-xl rounded-full bg-purple-600 text-white border-[3px] flex flex-col items-center justify-center border-white">
            <h3 class="text-2xl">3rd</h3>
            <p class="text-[10px] font-bold">Total Score: 780</p>
          </div>
          <div class="px-6 py-4">
            <ul class="space-y-4">
                <li class="flex items-center text-sm text-gray-500">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" class="mr-3 bg-green-500 fill-white rounded-full p-[3px]" viewBox="0 0 24 24">
                      <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" />
                    </svg>
                    Top Competition: Competition XYZ
                  </li>
                  <li class="flex items-center text-sm text-gray-500">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" class="mr-3 bg-green-500 fill-white rounded-full p-[3px]" viewBox="0 0 24 24">
                      <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" />
                    </svg>
                    Total Species Captured: 45
                  </li>
                  <li class="flex items-center text-sm text-gray-500">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" class="mr-3 bg-green-500 fill-white rounded-full p-[3px]" viewBox="0 0 24 24">
                      <path d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z" />
                    </svg>
                    Best Score: 95
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  